body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.5em;

}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color:white;
    width: 300px;
    background: rgb(60, 203, 21);
    padding: 10px 30px;
    font-weight: bold;
    font-size: 0.5em;
    border: none;
    border-radius: 8px;
    text-align: center;
    height: 50px;
}
